
* 
{
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
}

h1
{
    font-size:50px;
    font-weight: bold;
}

body
{
  margin: 0;
}


ul.topnav 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

ul.topnav li 
{
    float: right;
margin-right: 5%;
}

ul.topnav li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 2px;
}

ul.topnav li a:hover:not(.active) {background-color: #444;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.left {
    float: left;
margin-left: 5%;}


.headerhome
{
  padding: 300px;
  background-image: url("HOME.jpg");
  background-size: cover;
}

.header 
{
    padding: 250px;
    background-image: url("Auckland.jpg");
    background-size: cover;
    
}

.header2 
{
    padding: 250px;
    background-image: url("sobre.jpg");
    background-size: cover;
}
.header3 
{
    padding: 150px;
    background-image: url("aaron-birch-W_J6ZNPGru4-unsplash copy.jpg");
    background-size: cover;
}

.header4 
{
    padding: 250px;
    background-image: url("Chistchurch.jpg");
    background-size: cover;
}
.header5
{
    padding: 250px;
    background-image: url("Queenstown.jpg");
    background-size: cover;
}
.header6
{
    padding: 250px;
    background-image: url("Wellington.jpg");
    background-size: cover;
}

.header7
{
    padding: 250px;
    background-image: url("Wanaka.jpg");
    background-size: cover;
}
.header8
{
    padding: 250px;
    background-image: url("Tekapo.jpg");
    background-size: cover;
}
.header9
{
    padding: 250px;
    background-image: url("Rotorua.jpg");
    background-size: cover;
}
.header10
{
    padding: 250px;
    background-image: url("Nelson.jpg");
    background-size: cover;
}


ul.breadcrumb 
{
    list-style: none;
    padding: 20px;
    margin-top:0%;
    background-color: #eee; 
}

.margem
{
    margin-left: 5%; 
}

.texto
{
    text-align: justify;
}
ul.breadcrumb li {
    
    display: inline;
    font-size: 14px;
    
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: black;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side 
{
margin-right: 5%;
margin-left: 5%;
flex: 20%;
padding: 0px
 
}

.main 
{
margin-left: 5%;
margin-right: 5%;
flex: 60%;
padding: 20px;
  
}

.conteudo 
{
    
flex: 90%;
padding: 20px;
      
}


img
{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}



.linha 
{
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 5%;
    margin-right: 5%;
}
  
 
.coluna 
{
-ms-flex: 25%; 
flex: 25%;
max-width: 25%;
padding: 0 4px;
}


.coluna img
{
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

.button 
{
background-color: #444;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
margin-left: auto;
margin-right: auto;
display: block;
width: 100%   
}





.row
{
display: -ms-flexbox; 
display: flex;
-ms-flex-wrap: wrap; 
flex-wrap: wrap;
padding: 0 4px;
margin-left: 5%;
margin-right: 5%;
}
  
  
.column 
{
-ms-flex: 50%; 
flex: 50%;
max-width: 50%;
padding: 0 4px;
}
  
.column img 
{
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

.botao 
{
background-color: #000000;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
margin-left: auto;
margin-right: auto;
}
 
.a
{
text-align: center;
margin-right:20%; 
margin-left: 20%;    
}




.container 
{
position: relative;
max-width: 800px;
margin: 0 auto;
}

.container img 
{
vertical-align: middle;
}

.container .content 
{
position: absolute;
bottom: 0;
background: rgb(0, 0, 0); 
background: rgba(0, 0, 0, 0.5); 
color: #f1f1f1;
width: 100%;
padding: 20px;
}


.footer 
{
padding: 40px;
text-align: center;
background: #111;

}


@media screen and (max-width: 600px) 
{
  .row, .navbar { flex-direction: column;} 
}

@media screen and (max-width: 600px) 
{
ul.topnav li.left, 
ul.topnav li {float: none;}
}

@media screen and (max-width: 800px) 
{
    .coluna {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;}
}
@media screen and (max-width: 600px) {
    .coluna {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}




